<div class="card h-100">
    <div class="card__text box-shadow h-100">
        <div class="card__header">
            <h3 class="card__heading heading-sm">
                {{ ez_render_field(content, 'name') }}
                {{ ez_render_field(content, 'country') }}
            </h3>
        </div>
        <div class="card__body">
            <div class="card__desc">
                <div class="card__row">
                    <p class="font-weight-bold">{{ 'Address'|trans }}:</p>
                    {{ ez_field_value(content, 'maplocation') }}
                </div>
                <div class="card__row">
                    {% include '@ezdesign/parts/store_work_hours.html.twig' %}
                </div>
                {% set contactInfo = ez_field_value(content, 'contactInfo').rows|first %}
                {% if contactInfo is defined and contactInfo|length > 0 %}
                    <div class="card__row">
                        <p class="font-weight-bold">{{ 'Phone'|trans }}:</p>
                        <p>{{ contactInfo.cells['phone'] }}</p>
                    </div>
                    <div class="card__row">
                        <p class="font-weight-bold">{{ 'E-mail' | trans }}:</p>
                        <p>{{ contactInfo.cells['email'] }}</p>
                    </div>
                {% endif %}
                <div class="card__row">
                    <p>*
                        {{ 'Hours may vary based on holidays and store events. Please visit <a href="%path%">your local store page</a> for details'|trans({
                            '%path%': '#'
                        })|raw }}
                    </p>
                </div>
            </div>
        </div>
        <div class="card__footer">
            <a href="{{ path(location) }}" class="card__link">
                {{ 'Visit store page'|trans }}
                <i class="material-icons">arrow_forward</i>
            </a>
        </div>
    </div>
</div>
