{% extends "@ezdesign/pagelayout.html.twig" %}

{% block page_head %}
    {% set title = ez_content_name(content) ~ " - " ~ content.contentInfo.publishedDate|localizeddate('short', 'short', app.request.locale) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="content-type-article full-view">
        <div class="banner-image">
            <div class="thumbnail text-center">
                {{ ez_render_field(content, 'image', {
                    'parameters': {'alias': 'original', 'class': 'img-fluid w-100'}
                }) }}
                <div class="title">
                    <h1 class="field-title">{{ ez_render_field(content, 'title') }}</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <div class="meta">
                        <span class="field-author">
                            {{ ez_field_value(content, 'author') }}
                        </span>
                        <span class="field-date">
                            <time pubdate datetime="{{ ez_field_value(content, 'publish_date')|date("Y-m-d") }}">{{ ez_field_value(content, 'publish_date')|date("d M Y") }}</time>
                        </span>
                    </div>

                    <div class="field-body">
                        {% set displayPremiumContentInfo = false %}

                        {% if not ez_is_field_empty(content, 'premium_content') %}
                            {% if ez_has_access_to_premium_content() %}
                                {{ ez_render_field(content, 'body') }}
                            {% else %}
                                {% set displayPremiumContentInfo = true %}
                                <div class="premium-article__preview">
                                    {{ ez_render_field(content, 'body')|previewPremiumContent(3) }}
                                </div>
                            {% endif %}
                        {% else %}
                            {{ ez_render_field(content, 'body') }}
                        {% endif %}
                    </div>

                    {% if displayPremiumContentInfo %}
                        <div class="premium-article__info">
                            <span class="premium-article__image"><img src="{{ asset('assets/images/article/premium_content.png') }}" /></span>
                            <span class="premium-article__text">{{ 'To continue reading, without interruption, register and get unlimited access'|trans }}</span>
                            <span class="premium-article__register"><a href="{{ path('ez_user_register') }}" class="btn btn-primary">{{ 'Register Now'|trans }}</a></span>
                        </div>
                    {% endif %}

                    <div class="field-tags">
                        {{ ez_render_field(content, 'tags') }}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
