{% extends "@ezdesign/pagelayout.html.twig" %}

{% block page_head %}
    {% set title = ez_content_name(content) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% include '@ezdesign/parts/product_modal_dialog.html.twig' %}

    <section class="content-type-product-list full-view">
        <div class="banner-image">
            <div class="thumbnail text-center">
                {{ ez_render_field(content, 'banner', {
                    'parameters': {'alias': 'original', 'class': 'img-fluid w-100'}
                }) }}
                <div class="title">
                    {{ ez_render_field(content, 'description') }}
                </div>
            </div>
        </div>

        <div class="container product-container">
            <div class="col-md-12 section-spacer">
                <span>{{ 'What is on our menu'|trans }}</span>
            </div>

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    {{ form_start(form, { 'action': path(location) }) }}

                    <div class="col-md-12 section-search">
                        <div class="input-group">
                            {{ form_widget(form.searchText, {'attr': {'class': 'search form-control', 'placeholder': 'Search Recipes...'}}) }}
                            <div class="input-group-append">
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-search'}}) }}
                            </div>
                            <div class="filter-button">
                                <span class="btn btn-filters">{{ 'Filters'|trans }} <span class="badge badge-secondary badge-pill"></span> <span class="fa fa-filter"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 section-filter">
                        <div class="filters">
                            <div class="filter-container">
                                <div class="column">
                                    <b>{{ 'Allergies'|trans }}:</b>
                                    <ul class="list-unstyled">
                                        <li>
                                            {{ form_widget(form.dairy) }}
                                            {{ form_label(form.dairy) }}
                                        </li>
                                        <li>
                                            {{ form_widget(form.egg) }}
                                            {{ form_label(form.egg) }}
                                        </li>
                                        <li>
                                            {{ form_widget(form.nuts) }}
                                            {{ form_label(form.nuts) }}
                                        </li>
                                        <li>
                                            {{ form_widget(form.seafood) }}
                                            {{ form_label(form.seafood) }}
                                        </li>
                                        <li>
                                            {{ form_widget(form.gluten) }}
                                            {{ form_label(form.gluten) }}
                                        </li>
                                    </ul>

                                </div>
                                <div class="column">
                                    <b>{{ 'Spicyness'|trans }}: </b>
                                    <ul class="list-unstyled">
                                        {% for choice in form.spicy.vars.choices %}
                                            <li>
                                                <input type="checkbox" id="{{ form.spicy.vars.id }}_{{ loop.index0 }}" name="product_search[spicy][]" value="{{ choice.value }}" {% if choice.value in form.spicy.vars.value %}checked="checked"{% endif %} >
                                                <label for="{{ form.spicy.vars.id }}_{{ loop.index0 }}">{{ choice.label }}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="column">
                                    <b>{{ 'Servings'|trans }}: </b>
                                    <ul class="list-unstyled">
                                        {% for choice in form.serving.vars.choices %}
                                            <li>
                                                <input type="checkbox" id="{{ form.serving.vars.id }}_{{ loop.index0 }}" name="product_search[serving][]" value="{{ choice.value }}" {% if choice.value in form.spicy.vars.value %}checked="checked"{% endif %} >
                                                <label for="{{ form.serving.vars.id }}_{{ loop.index0 }}">{{ choice.label }}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-apply" type="submit">{{ 'Apply filters'|trans }}</button>
                                <span class="btn btn-clear">{{ 'Clear all'|trans }}</span>
                            </div>
                        </div>
                    </div>

                    {% do form.spicy.setRendered() %}
                    {% do form.serving.setRendered() %}
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="col-md-10 offset-md-1 product-items">
                {% if children|length > 0 %}
                    {% for content in children %}
                        {{ render_esi(controller('ez_content:viewAction', {
                            'locationId': content.contentInfo.mainLocationId,
                            'viewType': view_type
                        })) }}
                    {% endfor %}

                    {% if children.currentPageResults|length < children.maxPerPage %}
                        {% set missingItems = children.maxPerPage - children.currentPageResults|length %}
                        {% for item in 1..missingItems %}
                            <div class="product-list-item"></div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="warning">
                        <h2>{{ 'No results were found.'|trans }}</h2>
                        <div class="well">
                            <p>Search tips</p>
                            <ul>
                                <li>{{ 'Check spelling of keywords.'|trans }}</li>
                                <li>{{ 'Try changing some keywords (eg, "car" instead of "cars").'|trans }}</li>
                                <li>{{ 'Try searching with less specific keywords.'|trans }}</li>
                                <li>{{ 'Reduce number of keywords to get more results.'|trans }}</li>
                                <li>{{ 'Change the filters.'|trans }}</li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="container">
                <div class="col-md-12 space-bottom text-center">
                    {% if children.haveToPaginate() %}
                        {{ pagerfanta(children, 'twitter_bootstrap4_translated', {
                            routeName: location,
                            routeParams: ezpublish.requestStack.masterRequest.query.all
                        }) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{%  block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(function () {
            let $ = jQuery,
                checkedCheckboxes,
                countCheckedCheckboxes = function () {
                    checkedCheckboxes = $('.filters input:checkbox:checked').length;
                    $('.section-search .btn-filters .badge').html(checkedCheckboxes > 0 ? checkedCheckboxes : '');
                    return checkedCheckboxes;
                };

            $('.filter-container input[type="checkbox"]').click(function () {
                countCheckedCheckboxes();
            });

            $('.btn-filters').click(function () {
                $('.filters, .filter-button > .arrow').toggle();
                $('.section-header').toggleClass('section-filter');
                return false;
            });

            $('.filters .btn-clear').click(function () {
                $('.filter-container input[type="checkbox"]').prop('checked', false);
                countCheckedCheckboxes();
                return false;
            });

            if (countCheckedCheckboxes()) {
                $('.btn-filters').trigger('click');
            }
        })
    </script>
{% endblock %}
