{% extends "@ezdesign/pagelayout.html.twig" %}

{% block page_head %}
    {% set title = ez_content_name(content) ~ " - " ~ content.contentInfo.publishedDate|localizeddate('short', 'short', app.request.locale) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% include '@ezdesign/parts/product_modal_dialog.html.twig' %}

    <section class="content-type-product full-view">
        <div class="breadcrumb">
            <div class="container">
                <a href="{{ path( ezpublish.rootLocation() ) }}">{{ ez_content_name(ezpublish.rootLocation().contentInfo) }}</a>
                {% if location is defined and not location.isDraft %}
                    &gt; <a href="{{ path('ez_urlalias', {locationId: location.parentLocationId}) }}">{{ ez_content_name(app_content_info_by_location_id(location.parentLocationId)) }}</a>
                    &gt; <a class="product" href="{{ path('ez_urlalias', {locationId: location.id}) }}">{{ ez_content_name(content) }}</a>
                {% endif %}
            </div>
        </div>
        <div class="container product-main">
            <div class="row">
                <div class="col-md-7 product-main-image">
                    {% if not ez_is_field_empty(content, 'image') %}
                        {{ ez_render_field(content, 'image', {
                            'parameters': {
                                'alias': 'product_large',
                                'class': 'img-fluid'
                            }
                        }) }}
                    {% endif %}
                </div>
                <div class="col-md-5">
                    <div class="product-main-title">
                        <h2>{{ ez_content_name(content) }}</h2>
                    </div>
                    <div class="row product-main-details">
                        <div class="col-md-4 product-main-price">$ {{ ez_field_value(content, 'price').value|number_format(2, '.') }}</div>
                        <div class="col-md-3 product-main-serving">
                            <div class="product-main-serving-icon"></div>
                            <div class="serving-label">
                                {{ ez_render_field(content, 'serving') }} {{ 'servings'|trans }}
                            </div>
                        </div>
                        <div class="col-md-5 product-main-spicy">
                            {% if ez_field_value(content, 'spicy').selection is not empty %}
                                {% set spicy_level = ez_field_value(content, 'spicy').selection.0 %}
                                <div class="spicy-label">{{ 'Spicy Level:'|trans }}</div>
                                {% for level in 1..spicy_level %}
                                    <div class="product-main-spicy-pepper"></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-main-description">
                        {{ ez_render_field(content, 'description') }}
                    </div>
                    <div class="product-main-add">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addModal">
                            <i class="fa fa-shopping-basket fa-lg"></i> {{ 'Add to cart'|trans }}
                        </button>
                    </div>
                    <div class="product-dietary-list">
                        <h3>{{ 'Dietary restrictions'|trans }}</h3>
                        {% if ez_field_value(content, 'dairy').bool %}
                            <div class="product-main-dietary">
                                <div class="product-main-dietary-icon product-main-dietary-dairy-icon"></div> {{ 'Dairy'|trans }}
                            </div>
                        {% endif %}

                        {% if ez_field_value(content, 'egg').bool %}
                            <div class="product-main-dietary">
                                <div class="product-main-dietary-icon product-main-dietary-egg-icon"></div> {{ 'Egg'|trans }}
                            </div>
                        {% endif %}

                        {% if ez_field_value(content, 'nuts').bool %}
                            <div class="product-main-dietary">
                                <div class="product-main-dietary-icon product-main-dietary-nuts-icon"></div> {{ 'Nuts'|trans }}
                            </div>
                        {% endif %}

                        {% if ez_field_value(content, 'gluten').bool %}
                            <div class="product-main-dietary">
                                <div class="product-main-dietary-icon product-main-dietary-gluten-icon"></div> {{ 'Gluten'|trans }}
                            </div>
                        {% endif %}

                        {% if ez_field_value(content, 'seafood').bool %}
                            <div class="product-main-dietary">
                                <div class="product-main-dietary-icon product-main-dietary-seafood-icon"></div> {{ 'Seafood'|trans }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 product-main-info">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#ingredients" role="tab">{{ 'Ingredients'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#instructions" role="tab">{{ 'Cooking instructions'|trans }}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in show active" id="ingredients" role="tabpanel">
                        <div class="product-main-ingredients">
                            {{ ez_render_field(content, 'ingredients') }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="instructions" role="tabpanel">
                        <div class="product-main-instruction">
                            {{ ez_render_field(content, 'cooking_instructions') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 content-tags">
                    <span class="tags-label">Tags</span>
                    <div class="tags-list">
                        {{ ez_render_field(content, 'tags') }}
                    </div>
                </div>
                <div class="col-md-6 content-share">
                    <span class="share-buttons-label">Share</span>
                    <div class="share-buttons-list">
                        {% if location is defined and not location.isDraft %}
                            {% set url = url(location) %}
                            {% set title = ez_content_name(content)|url_encode %}
                            <a href="https://twitter.com/intent/tweet?original_referer={{ url }}&amp;atext={{ title }}&amp;url={{ url }}&amp;via=ezsystems" target="_blank">Twitter</a>
                            <a href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{ url }}&amp;p[title]={{ title }}" target="_blank">Facebook</a>
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url }}&amp;title={{ title }}" target="_blank">LinkedIn</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
