{% extends "@ezdesign/pagelayout.html.twig" %}

{% block page_head %}
    {% set title = ez_content_name(content) ~ " - " ~ content.contentInfo.publishedDate|localizeddate('short', 'short', app.request.locale) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="content-type-subscribe full-view">
        <div class="banner-image">
            <div class="thumbnail text-center">
                {{ ez_render_field(content, 'image', {
                    'parameters': {'alias': 'original', 'class': 'img-fluid w-100'}
                }) }}
                <div class="title">
                    <h1 class="field-title">{{ ez_render_field(content, 'title') }}</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="field-body">
                        {{ ez_render_field(content, 'description') }}
                    </div>
                </div>
                <div class="col-md-4 offset-md-1 form">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.name, 'Name'|trans, {
                            label_attr: {
                                class: 'text-about'
                            }
                        }) }}
                        {{ form_widget(form.name, {
                            attr: {
                                placeholder: 'Jane Doe',
                                class: 'form-control'
                            }
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, 'E-mail'|trans, {
                            label_attr: {
                                class: 'text-about'
                            }
                        }) }}
                        {{ form_widget(form.email, {
                            attr: {
                                placeholder: 'jane.doe@example.com',
                                class: 'form-control'
                            }
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.message, 'Anything you want to add:'|trans, {
                            label_attr: {
                                class: 'text-about'
                            }
                        }) }}
                        {{ form_widget(form.message, {
                            attr: {
                                placeholder: 'Your message'|trans,
                                class: 'form-control'
                            }
                        }) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">{{ 'Send'|trans }}</button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </section>
{% endblock %}
