{% block content %}
    {% set url = path(location) %}
    {% set title = ez_content_name(content) %}

    <section class="row item">
        <div class="col-md-9 item-info">
            <div class="item-title">
                <h2>
                    <a href="{{ url }}" title="{{ title }}">
                        {{ title }}
                    </a>
                </h2>
            </div>
            <div class="d-none d-md-none d-sm-block d-xs-block item-image-sm">
                {% if ez_field(content, 'image') and not ez_field_is_empty(content, 'image') %}
                    <a href="{{ url }}" title="{{ title }}">
                        {{ ez_render_field(content, 'image', {
                            'parameters': {
                                'alias': 'search_result_item_large',
                                'class': 'w-100'
                            }
                        }) }}
                    </a>
                {% endif %}
            </div>

            {% if ez_field(content, 'intro') and not ez_field_is_empty(content, 'intro') %}
                <div class="item-intro">
                    {{ ez_render_field(content, 'intro') }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-3 d-none d-sm-none d-md-block d-lg-block item-image">
            {% if ez_field(content, 'image') and not ez_field_is_empty(content, 'image') %}
                <a href="{{ url }}" title="{{ title }}">
                    {{ ez_render_field(content, 'image', {
                        'parameters': {
                            'alias': 'search_result_item',
                            'class': 'w-100'
                        }
                    }) }}
                </a>
            {% endif %}
        </div>
    </section>
{% endblock %}
