{% extends "@ezdesign/pagelayout.html.twig" %}

{% block page_head %}
    {% set title = ez_content_name(content) ~ " - " ~ content.contentInfo.publishedDate|localizeddate('short', 'short', app.request.locale) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="page">
        <div class="banner banner--full-width">
            <div class="banner__image">
                <figure class="ezimage-field">
                    <img src="{{ asset('assets/images/inspiration-banner.jpg') }}">
                </figure>
            </div>
            <div class="banner__title container text-center">
                <h1 class="banner__heading">
                    <span>Home Design Ideas & Tips</span>
                </h1>
            </div>
        </div>
        <div class="container">
            {% include '@ezdesign/menu/inspirations-menu.html.twig' %}
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <article class="article article--full-page">
                        <h2 class="article__title text-center">
                            {{ ez_render_field(content, 'name') }}
                        </h2>
                        <div class="article__image img-fluid-container">
                            {{ ez_render_field(content, 'Image') }}
                        </div>
                        <div class="article__intro">
                            {{ ez_render_field(content, 'intro') }}
                        </div>
                        <div class="article__desc">
                            {{ ez_render_field(content, 'description') }}
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2 ">

                </div>
            </div>
        </div>
        {{ content_pagination(
            '@ezdesign/pagination/content_pagination.html.twig',
            content,
            location.parentLocationId
        ) }}
    </section>
{% endblock %}
