{% extends "@ezdesign/pagelayout.html.twig" %}

{% block page_head %}
    {% set title = ez_content_name(content) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page">
        <section class="section section--map">
            {{ ez_render_field(content, 'maplocation', {'parameters': {
                'width': false,
                'height': '400px',
                'showInfo': false
            }}) }}
        </section>
        <section class="section section--raised box-shadow">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="heading-md blue-lighter text-inline mb-0">
                                    {{ ez_render_field(content, 'name') }}, {{ ez_render_field(content, 'country') }}
                                </h1>
                                <p class="mt-1">{{ ez_field_value(content, 'maplocation') }}</p>
                                {% include '@ezdesign/parts/store_work_hours.html.twig' %}
                            </div>
                        </div>
                        {% set departments = ez_field_value(content, 'contactInfo').rows %}
                        {% if departments|length > 0 %}
                            <div class="row border-top pt-4 mt-4">
                                {% for department in departments %}
                                    <div class="col-lg-4 col-md-6 col-xs-12 mb-4 {{ not loop.last ? 'border-right' : '' }}">
                                        <p class="blue-lighter font-weight-bold">{{ department.cells['departmentName'] }}</p>
                                        <a href="tel:{{ department.cells['phone'] }}" class="d-flex grey-light">
                                            <img class="icon icon-phone" src="{{ asset('assets/icons/phone.svg') }}" alt="icon-phone">
                                            {{ department.cells['phone'] }}
                                        </a>
                                        <a href="mailto:{{ department.cells['email'] }}" class="d-flex grey-light mt-3">
                                            <img class="icon icon-mail" src="{{ asset('assets/icons/email.svg') }}" alt="icon-mail">
                                            Send an Email
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 d-lg-block d-none">
                        <p class="heading-sm">{{ 'About our store' | trans }}</p>
                        {{ ez_render_field(content, 'video') }}
                    </div>
                </div>
            </div>
        </section>
        <section class="section section mt-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="heading-sm">{{ 'Store details' | trans }}</h2>
                        <div class="mt-3">{{ ez_render_field(content, 'description') }}</div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5">
                        <h2 class="heading-sm">{{ 'Trending In Your Store' | trans }}</h2>
                        <div class="row">
                            {% for i in 1..6 %}
                                <div class="col-md-4 mb-4">
                                    <div class="card card--recommendation">
                                        <div class="card__body">
                                            <figure class="img-fluid-container">
                                                <img src="{{ asset('assets/images/armchair.jpg') }}">
                                            </figure>
                                            <p class="product-price">$739.00</p>
                                        </div>
                                        <div class="card__footer">
                                            <a href="#">VIKEN Armchair</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--standard mt-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center pr-lg-0">
                        <div class="px-lg-5 px-md-4 py-3 bg-grey-very-light rounded-left-2 h-100">
                            <p class="font-weight-bold">{{ 'Store Facts' | trans }}</p>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex d-inline-flex align-items-center">
                                    <p class="heading-sm mr-1 mb-0">375</p>
                                    <p class="mb-0">{{ 'Professionals' | trans }}</p>
                                </div>
                                <div class="d-flex d-inline-flex align-items-center">
                                    <p class="heading-sm mr-1 mb-0">375</p>
                                    <p class="mb-0">{{ 'Products' | trans }}</p>
                                </div>
                                <div class="d-flex d-inline-flex align-items-center">
                                    <p class="heading-sm mr-1 mb-0">{{ ez_render_field(content, 'floors') }}</p>
                                    <p class="mb-0">{{ 'Floors' | trans }}</p>
                                </div>
                                <div class="d-flex d-inline-flex align-items-center">
                                    <p class="heading-sm mr-1 mb-0">{{ ez_render_field(content, 'storeArea') }}</p>
                                    <p class="mb-0">{{ 'SF' | trans }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center pl-lg-1 mt-4 mt-lg-0">
                        <div class="px-4 py-3 bg-grey-very-light rounded-right-2 h-100">
                            <p class="font-weight-bold">{{ 'Store Categories' | trans }}</p>
                            <div class="d-flex flex-wrap justify-content-between ">
                                {% for i in 1..4 %}
                                    <a href="#" class="btn btn--sm btn--white mb-1 {{ not loop.last ?  'mr-1' : '' }}">
                                        Living Room
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--standard my-10">
            <div class="container">
                <div class="row mt-">
                    <div class="col-lg-4 col-md-12">
                        <h3 class="heading-lg">{{ 'Find a inspirations and ideas to help you with' | trans }}</h3>
                        <h5 class="heading-sm mt-4">delivery, assembling, painting, renovation, etc.</h5>
                        <a href="/inspirations" class="btn btn--lg btn--blue mt-5">{{ 'Find Inspirations' | trans }}</a>
                    </div>
                    <div class="col-lg-4 col--img d-lg-block d-none">
                        <img src="{{ asset('assets/images/living-room-1.jpg') }}">
                    </div>
                    <div class="col-lg-4 col--img d-lg-block d-none">
                        <img src="{{ asset('assets/images/living-room-2.jpg') }}">
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
