{% extends "@ezdesign/pagelayout.html.twig" %}

{% block page_head %}
    {% set title = ez_content_name(content) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page">
        <section class="section banner banner--full-width banner--map">
            <div class="banner__image">
                {{ ez_render_field(content, 'banner') }}
            </div>
            <div class="banner__title transform-center container text-center">
                <h1 class="banner__heading">
                    {{ ez_render_field(content, 'title') }}
                </h1>
            </div>
        </section>
        <section class="section section--standard mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center heading heading-sm mt-4">
                            {{ 'All Maison Stores'| trans }}
                        </h2>
                    </div>
                </div>
                <div class="row mt-4">
                    {% if stores is defined and stores.searchHits|length > 0  %}
                        {% for store in stores.searchHits %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                {{ render_esi(controller('ez_content:viewAction', {
                                    locationId: store.valueObject.contentInfo.mainLocationId,
                                    viewType: 'card'
                                })) }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="section section--standard my-7">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <h4 class="heading-lg">{{ 'Find a professional to help you with'| trans }}</h4>
                        <h5 class="heading-sm mt-4">{{ 'delivery, assembling, painting, renovation, etc.'| trans }}</h5>
                        <a href="#" class="btn btn--lg btn--blue mt-5">{{ 'Find Professionals'|trans }}</a>
                    </div>
                    <div class="col-md-4 col--img d-lg-block d-none">
                        <img src="{{ asset('assets/images/store-col-img1.png') }}">
                    </div>
                    <div class="col-md-4 col--img d-lg-block d-none">
                        <img src="{{ asset('assets/images/store-col-img2.png') }}">
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--standard my-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-lg-center my-5">
                        <h4 class="heading-lg">{{ 'Become a Maison Pro'| trans }}</h4>
                        <p class="mt-4">{{ 'We\'re always looking for outstanding local contractors!'| raw | trans }}</p>
                        <a href="" class="btn btn--lg btn--blue mt-4">{{ 'Apply Now' | trans }}</a>
                        <p class="mt-5">{{ 'Click here to view <a href="%path%">Maison licensing information</a>'|trans({
                                '%path%': '#' })|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
