{% extends noLayout == true ? viewbaseLayout : pagelayout %}

{% block content %}
    <header class="header-intro" style="background-image: url('{{ ez_field_value(content, 'image').uri }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="header-title">{{ ez_render_field(content, 'description') }}</h1>
                    <a href="{{ path('ez_urlalias', {locationId: contactLocationId}) }}" class="btn btn-primary btn-lg">{{ 'Contact us!'|trans }}</a>
                </div>
            </div>
        </div>
    </header>

    <section class="projects">
        <div class="container">
            <div class="row space-top-half space-bottom">
                <div class="col-md-12">
                    <h1 class="header-text-one space-bottom-less">{{ 'Projects'|trans }}</h1>
                </div>

                <div class="col-md-12 text-center">
                    <div class="row space-bottom-less">
                        {% if galleryImages|length > 0 %}
                            {% for image in galleryImages %}
                                {{ render_esi(controller('ez_content:viewLocation', {
                                    locationId: image.contentInfo.mainLocationId,
                                    viewType: 'home'
                                })) }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a href="{{ path('ez_urlalias', {locationId: galleryLocationId}) }}" class="btn btn-primary btn-lg">{{ 'View all'|trans }}</a>
                </div>
            </div>
        </div>
    </section>

    <section class="Blog">
        <div class="container space-top-half space-bottom">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="header-text-one space-bottom-less">{{ 'Blog'|trans }}</h1>
                </div>
            </div>

            <div class="row space-bottom-less">
                <div class="col-md-10 col-md-offset-1">
                    {% if blogPosts|length > 0 %}
                        {% for post in blogPosts %}
                            {{ render_esi(controller('ez_content:viewLocation', {
                                locationId: post.contentInfo.mainLocationId,
                                viewType: 'home'
                            })) }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
