<p>
    {{ 'You have a new message from ezplatform demo.'|trans }}
</p>
<p>
    <strong>{{ 'From'|trans }} :</strong> {{ contact.from }}
    <strong>{{ 'Message'|trans }} :</strong>

    {{ contact.message|nl2br }}
</p>
