<div class="top-menu clearfix bg-faded">
    <div class="container">
        <div class="d-flex float-left">
            <div class="top-menu-item languages dropdown">
                <button class="btn btn-sm dropdown-toggle nav-link"
                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {{ 'Languages'|trans }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="/">{{ "English"|trans}}</a>
                    <a class="dropdown-item" href="/fr">{{ "French"|trans}}</a>
                    <a class="dropdown-item" href="/de">{{ "German"|trans}}</a>
                    <a class="dropdown-item" href="/no">{{ "Norwegian"|trans}}</a>
                </div>
            </div>
            <div class="top-menu-item">
                <a class="nav-link" href="{{ path( "ez_urlalias", {"locationId": ezpublish.configResolver.parameter('app_subscribe_location_id')} ) }}">Subscribe</a>
            </div>
            <div class="top-menu-item social">
                <a href="//www.facebook.com/eZPublishEnterprise">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="//twitter.com/eZSystems">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="//plus.google.com/communities/114487597122434574779">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <a href="//ez.no/rss/feed/blog" class="rss">
                    <i class="fas fa-rss"></i>
                </a>
            </div>
        </div>
        <div class="d-flex user-menu float-right">
            <ul class="mr-auto list-unstyled">
                {% if app.user %}
                    {% set user = app.user.getAPIUser().content %}
                    <button class="btn btn-sm dropdown-toggle nav-link"
                            type="button" id="dropdownMenu2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{ ez_content_name(user) }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" href="{{ path('ezplatform.user_profile.change_password') }}">{{ "Change password"|trans}}</a>
                        <a class="dropdown-item" href="{{ path('logout') }}" title="{{ 'logout'|trans }}">{{ 'logout'|trans }}</a>
                    </div>
                {% else %}
                    <li class="top-menu-item nav-item">
                        <a class="nav-link" href="/register">{{ 'Register'|trans }}</a>
                    </li>
                    <li class="top-menu-item nav-item">
                        <a class="nav-link" href="/login">{{ 'Login'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-faded main-menu">
    <div class="container">
        <a class="navbar-brand" href="{{ path( ezpublish.rootLocation() ) }}">
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378.6 65.3"><style>.st0{fill:#00386c}.st1{fill:#f15a22}</style><path class="st0" d="M27.4 16c.1.1.2.3.2.5V19c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-8.7c-.2 0-.2.1-.2.2v27.9c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-3.1c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5V19.9c0-.2-.1-.2-.2-.2H5c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5v-2.5c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h21.9c.2 0 .4.1.5.2zM42 25.3c1.4.7 2.5 1.6 3.3 2.8.8 1.2 1.1 2.6 1.1 4.1v15.6c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-3.1c-.2 0-.4-.1-.5-.2-.1-.1-.1-.3-.1-.5v-1.3c0-.1 0-.2-.1-.2h-.2c-.9.8-1.9 1.4-3.1 1.9-1.2.4-2.5.7-3.9.7-2.3 0-4.1-.6-5.6-1.8-1.5-1.2-2.2-2.9-2.2-5.3s.8-4.3 2.5-5.7c1.7-1.4 4.1-2.1 7.1-2.1h5.2c.2 0 .2-.1.2-.2v-1.2c0-1.4-.4-2.4-1.2-3.2-.8-.8-2-1.1-3.6-1.1-1.3 0-2.3.2-3.1.7-.8.5-1.3 1.1-1.6 2-.1.4-.4.6-.8.6l-3.3-.6c-.2 0-.4-.1-.5-.2-.1-.1-.2-.2-.1-.4.3-1.8 1.3-3.2 3-4.4 1.7-1.1 3.9-1.7 6.4-1.7 1.9 0 3.5.4 4.9 1zm-1.9 18.5c1.2-.9 1.8-2 1.8-3.3v-2.7c0-.2-.1-.2-.2-.2h-4.3c-1.8 0-3.3.4-4.4 1.1-1.1.7-1.6 1.7-1.6 3 0 1.2.4 2 1.2 2.6.8.6 1.9.9 3.2.9 1.7-.1 3.1-.5 4.3-1.4zM54.7 47.9c-1.4-.6-2.5-1.3-3.3-2.3-.8-1-1.2-2.1-1.2-3.2v-.3c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h2.9c.2 0 .4 0 .5.1.1.1.2.1.2.2v.4c0 .9.5 1.6 1.4 2.3 1 .7 2.1 1 3.6 1 1.4 0 2.6-.3 3.5-.9.9-.6 1.3-1.4 1.3-2.3 0-.9-.4-1.6-1.2-2-.8-.5-2.1-.9-3.9-1.4-1.8-.5-3.3-1-4.5-1.5-1.2-.5-2.2-1.2-3-2.2-.8-1-1.2-2.2-1.2-3.7 0-2.1.8-3.7 2.5-5 1.6-1.2 3.8-1.8 6.5-1.8 1.8 0 3.4.3 4.8.9 1.4.6 2.5 1.4 3.2 2.4.7 1 1.1 2.2 1.1 3.5 0 .2-.1.3-.2.4-.1.1-.3.2-.5.2H65c-.2 0-.4 0-.5-.1-.1-.1-.2-.1-.2-.2v-.3c0-.9-.4-1.7-1.3-2.3-.9-.6-2.1-.9-3.6-.9-1.4 0-2.5.3-3.3.8-.9.5-1.3 1.2-1.3 2.2 0 .9.4 1.6 1.2 2.1.8.5 2.2 1 4 1.5 1.8.5 3.3 1 4.5 1.5 1.2.5 2.2 1.2 3.1 2.2.8 1 1.3 2.2 1.3 3.7 0 2.1-.8 3.8-2.5 5-1.7 1.2-3.9 1.9-6.7 1.9-2-.3-3.6-.6-5-1.2zM84.2 28.2c-.1.1-.3.2-.5.2h-4.8c-.2 0-.2.1-.2.2v12.2c0 1.3.3 2.3.9 2.9.6.6 1.5.8 2.8.8h1.1c.2 0 .4.1.5.2.1.1.2.3.2.5v2.4c0 .4-.2.7-.7.7h-1.9c-2.4 0-4.2-.4-5.4-1.3-1.2-.8-1.8-2.4-1.8-4.7V28.6c0-.2-.1-.2-.2-.2h-2.6c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5v-2.3c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h2.6c.2 0 .2-.1.2-.2v-5.2c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2H78c.2 0 .4.1.5.2.1.1.2.3.2.5v5.2c0 .2.1.2.2.2h4.8c.2 0 .4.1.5.2.1.1.2.3.2.5v2.3c0 .2-.1.4-.2.5zM103.5 42.1c.2-.3.3-.4.5-.4s.3 0 .4.1l1.9 1.2c.2.2.4.4.4.6l-.1.4c-.8 1.5-2 2.7-3.6 3.6-1.5.9-3.3 1.3-5.4 1.3-2.2 0-4.1-.5-5.6-1.5s-2.7-2.4-3.5-4.2c-.8-1.9-1.2-4.1-1.2-6.7 0-2.3.2-4 .5-5.2.6-2.2 1.7-3.8 3.4-5.1 1.7-1.2 3.7-1.9 6.1-1.9 3 0 5.2.8 6.8 2.3 1.6 1.5 2.6 3.8 3 6.7.2 1.2.3 2.6.3 4.2 0 .5-.2.7-.7.7H92.1c-.2 0-.2.1-.2.2.1 1.2.2 2 .3 2.5.3 1.2 1 2.2 2.1 2.9 1 .7 2.3 1.1 3.8 1.1 2.5.1 4.3-.9 5.4-2.8zm-9.4-12.9c-.9.7-1.4 1.6-1.8 2.7-.2.7-.4 1.6-.4 2.6 0 .2.1.2.2.2h10.6c.2 0 .2-.1.2-.2-.1-1-.2-1.8-.3-2.3-.3-1.2-.9-2.2-1.8-2.9-.9-.7-2.1-1.1-3.4-1.1-1.4 0-2.5.4-3.3 1zM118.8 20.6c-.6.6-.8 1.7-.8 3.4v.5c0 .2.1.2.2.2h4.6c.2 0 .4.1.5.2.1.1.2.3.2.5v2.7c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-4.6c-.2 0-.2.1-.2.2v18.7c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-3.1c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5V29.1c0-.2-.1-.2-.2-.2h-2.9c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5v-2.7c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h2.9c.2 0 .2-.1.2-.2v-.8c0-2.1.2-3.6.7-4.8.5-1.1 1.3-1.9 2.5-2.4s2.8-.7 4.9-.7h1.4c.2 0 .4.1.5.2.1.1.2.3.2.5V19c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-1c-1.5 0-2.6.3-3.2.9zM141.2 24.9c.1-.1.3-.2.5-.2h3c.2 0 .4.1.5.2.1.1.2.3.2.5v22.4c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-3c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5v-1.4c0-.1 0-.1-.1-.2-.1 0-.1 0-.2.1-1.2 1.7-3.1 2.5-5.7 2.5-1.5 0-2.9-.3-4.2-.9-1.3-.6-2.3-1.5-3.1-2.6-.8-1.2-1.2-2.6-1.2-4.2V25.4c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h3c.2 0 .4.1.5.2.1.1.2.3.2.5v14.3c0 1.6.4 2.9 1.3 3.8.9.9 2.1 1.4 3.6 1.4 1.6 0 2.8-.5 3.7-1.4.9-1 1.4-2.2 1.4-3.8V25.4c.1-.2.2-.4.3-.5zM151 48.3c-.1-.1-.2-.3-.2-.5V16.5c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h3.1c.2 0 .4.1.5.2.1.1.2.3.2.5v31.3c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-3.1c-.2 0-.4-.1-.5-.2zM274.3 16.9c1.4.8 2.6 1.9 3.4 3.3.8 1.4 1.2 3.1 1.2 5s-.4 3.5-1.2 4.9c-.8 1.4-2 2.5-3.4 3.3-1.5.8-3.2 1.2-5.1 1.2H261c-.2 0-.2.1-.2.2v13c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2H257c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5V16.4c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h12.4c1.8 0 3.4.4 4.9 1.2zm-1.5 12.5c1-1 1.6-2.4 1.6-4.1 0-1.7-.5-3.1-1.6-4.1-1-1-2.4-1.6-4.1-1.6h-7.8c-.2 0-.2.1-.2.2v10.8c0 .2.1.2.2.2h7.8c1.7.1 3-.4 4.1-1.4zM282.5 48.3c-.1-.1-.2-.3-.2-.5V16.5c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h3.1c.2 0 .4.1.5.2.1.1.2.3.2.5v31.3c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2H283c-.2 0-.3-.1-.5-.2zM305.9 25.3c1.4.7 2.5 1.6 3.3 2.8.8 1.2 1.1 2.6 1.1 4.1v15.6c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-3.1c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5v-1.3c0-.1 0-.2-.1-.2h-.2c-.9.8-1.9 1.4-3.1 1.9-1.2.4-2.5.7-3.9.7-2.3 0-4.1-.6-5.6-1.8-1.5-1.2-2.2-2.9-2.2-5.3s.8-4.3 2.5-5.7c1.7-1.4 4.1-2.1 7.1-2.1h5.2c.2 0 .2-.1.2-.2v-1.2c0-1.4-.4-2.4-1.2-3.2-.8-.8-2-1.1-3.6-1.1-1.3 0-2.3.2-3.1.7-.8.5-1.3 1.1-1.6 2-.1.4-.4.6-.8.6l-3.4-.4c-.2 0-.4-.1-.5-.2-.1-.1-.2-.2-.1-.4.3-1.8 1.3-3.2 3-4.4 1.7-1.1 3.9-1.7 6.4-1.7 2-.2 3.6.2 5.1.8zM304 43.8c1.2-.9 1.8-2 1.8-3.3v-2.7c0-.2-.1-.2-.2-.2h-4.3c-1.8 0-3.3.4-4.4 1.1-1.1.7-1.6 1.7-1.6 3 0 1.2.4 2 1.2 2.6.8.6 1.9.9 3.2.9 1.6-.1 3-.5 4.3-1.4zM331.7 26.6c1.5 1.5 2.2 3.5 2.2 6v15.2c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-3.1c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5V33.5c0-1.6-.5-2.8-1.4-3.8-.9-1-2.1-1.4-3.6-1.4-1.3 0-2.5.4-3.4 1.2-.9.8-1.5 1.9-1.6 3.2v15.1c0 .2-.1.4-.2.5-.1.1-.3.2-.5.2h-3.1c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5V25.4c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h3.1c.2 0 .4.1.5.2.1.1.2.3.2.5v1.3c0 .1 0 .2.1.2h.1c1.3-1.7 3.3-2.5 5.9-2.5 2.7 0 4.7.7 6.2 2.2zM354.5 42.1c.2-.3.3-.4.5-.4s.3 0 .4.1l1.9 1.2c.2.2.4.4.4.6l-.1.4c-.8 1.5-2 2.7-3.6 3.6-1.5.9-3.3 1.3-5.4 1.3-2.2 0-4.1-.5-5.6-1.5s-2.7-2.4-3.5-4.2c-.8-1.9-1.2-4.1-1.2-6.7 0-2.3.2-4 .5-5.2.6-2.2 1.7-3.8 3.4-5.1 1.7-1.2 3.7-1.9 6.1-1.9 3 0 5.2.8 6.8 2.3 1.6 1.5 2.6 3.8 3 6.7.2 1.2.3 2.6.3 4.2 0 .5-.2.7-.7.7h-14.8c-.2 0-.2.1-.2.2.1 1.2.2 2 .3 2.5.3 1.2 1 2.2 2.1 2.9 1 .7 2.3 1.1 3.8 1.1 2.7.1 4.5-.9 5.6-2.8zm-9.4-12.9c-.9.7-1.4 1.6-1.8 2.7-.2.7-.4 1.6-.4 2.6 0 .2.1.2.2.2h10.6c.2 0 .2-.1.2-.2-.1-1-.2-1.8-.3-2.3-.3-1.2-.9-2.2-1.8-2.9-.9-.7-2.1-1.1-3.4-1.1-1.4 0-2.5.4-3.3 1zM374.1 28.2c-.1.1-.3.2-.5.2h-4.8c-.2 0-.2.1-.2.2v12.2c0 1.3.3 2.3.9 2.9.6.6 1.5.8 2.8.8h1.1c.2 0 .4.1.5.2.1.1.2.3.2.5v2.4c0 .4-.2.7-.7.7h-1.9c-2.4 0-4.2-.4-5.4-1.3-1.2-.8-1.8-2.4-1.8-4.7V28.6c0-.2-.1-.2-.2-.2h-2.6c-.2 0-.4-.1-.5-.2-.1-.1-.2-.3-.2-.5v-2.3c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h2.6c.2 0 .2-.1.2-.2v-5.2c0-.2.1-.4.2-.5.1-.1.3-.2.5-.2h2.9c.2 0 .4.1.5.2.1.1.2.3.2.5v5.2c0 .2.1.2.2.2h4.8c.2 0 .4.1.5.2.1.1.2.3.2.5v2.3c0 .2-.1.4-.2.5z"/><g><path class="st1" d="M189.7 35.2c.8 0 1.4-.6 1.4-1.3.2-7 4.6-13.1 11.2-15.5.7-.3 1.1-1 .8-1.7-.3-.7-1-1.1-1.7-.8-7.6 2.8-12.7 9.8-13 18-.1.7.5 1.3 1.3 1.3z"/><path class="st1" d="M248.6 12.3c-1.1-3-4.1-5-9-5.8-3.4-.6-7.5-.6-12.3-.1-1.2.1-2 1.1-1.9 2.3.1 1.2 1.1 2 2.3 1.9 4.4-.4 8.2-.4 11.2.1 3.2.6 5.3 1.7 5.8 3.1 1.1 3-3.5 8.2-7.8 11.7-6.7 5.5-16.2 10.7-26.7 14.5-23.4 8.5-41.6 6.9-43.3 2.1-.6-1.5.4-3.8 2.8-6.5 1.9-2.2 4.7-4.5 8.1-6.8 1-.7 1.2-2 .6-2.9-.7-1-2-1.2-2.9-.6-3.7 2.5-6.7 5.1-8.9 7.5-4.4 5-4.4 8.6-3.6 10.7 1.6 4.5 8.1 6.8 17.2 6.8 2.1 0 4.4-.1 6.8-.4 2.6 3.6 6 6.5 10.2 8.4 3.5 1.6 7.3 2.5 11.1 2.5 3 0 6.1-.5 9-1.6 11.3-4.1 18-15.2 17.2-26.6 1.9-1.3 3.6-2.5 5.2-3.9 7.2-6.2 10.5-12 8.9-16.4zm-40.4 33.3c.6 1.6-.2 3.4-1.9 4-.4.1-.7.2-1.1.2-1.3 0-2.5-.8-3-2.1-.1-.3-.1-.6-.2-.9 1.9-.5 3.9-1.1 5.9-1.8.1.3.2.4.3.6zm7.4 9.6c-5.5 2-11.5 1.8-16.9-.7-2.7-1.3-5.1-3.1-7.1-5.3 2.5-.4 5-.9 7.6-1.6.1.4.1.7.3 1.1.9 2.4 3.2 4 5.7 4 .7 0 1.4-.1 2.1-.4 3.1-1.1 4.8-4.6 3.6-7.8-.1-.1-.1-.3-.2-.4.3-.1.5-.2.8-.3 6.7-2.5 13.1-5.4 18.6-8.7-.3 8.8-5.8 16.9-14.5 20.1z"/><path class="st1" d="M176.8 32.4c-1.2 1-4.7 4-3.6 7.3.8 2.2 3.3 3.3 7.7 3.3 1.5 0 3.3-.1 5.3-.4 6.4-.9 14.4-3 22.7-6 8.3-3 15.8-6.6 21.2-10 6.5-4.1 9.2-7.6 8.1-10.5-1.1-3.1-5.5-3.2-7-3.3-1.2 0-2.2.9-2.2 2.1 0 1.2.9 2.2 2.1 2.2 1.8 0 2.6.3 2.9.5-.2.5-1.1 1.7-3.4 3.4-5.5-9.2-16.1-14.2-26.7-12.5 0-.2 0-.3-.1-.5-1-2.7-3.9-4-6.6-3.1-2.7 1-4 3.9-3.1 6.6.1.2.2.3.3.4-4.5 2.7-8 6.6-10.3 11.4-2.3 4.8-3 10.1-2.1 15.3-2.8.1-4.2-.2-4.8-.4.2-.4.7-1.2 2.2-2.5.9-.8 1-2.1.2-3-.5-.9-1.9-1-2.8-.3zM197 10.5c-.4-1.2.2-2.5 1.4-2.9 1.2-.4 2.5.2 2.9 1.4v.1c-.7.2-1.5.4-2.2.7l-2.1.9v-.2zm-8.9 14.6c2.5-5.3 6.9-9.4 12.5-11.4 2.5-.9 5-1.3 7.5-1.3 7.8 0 15.1 4.1 19.1 11-.1.1-.3.2-.4.3-5.1 3.1-12 6.2-19.4 8.9-7.4 2.7-14.7 4.7-20.6 5.6-.2 0-.3 0-.5.1-.8-4.5-.2-9.1 1.8-13.2zM219.5 49.5c.4 0 .7-.1 1.1-.2.8-.3 1.5-.9 1.8-1.7s.4-1.7.1-2.5c-.5-1.3-1.7-2.1-3-2.1-.4 0-.7.1-1.1.2-.8.3-1.5.9-1.8 1.7-.4.8-.4 1.7-.1 2.5.4 1.2 1.6 2.1 3 2.1zM219 45c.1-.1.3-.1.4-.1.5 0 1 .3 1.2.9.2.7-.1 1.4-.8 1.7-.1.1-.3.1-.4.1-.5 0-1-.3-1.2-.9-.2-.7.1-1.4.8-1.7z"/></g></svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if menuItems is defined and menuItems is not empty %}
                    {% set menuItemsLength = menuItems|length %}
                    {% if menuItemsLength > 6 %}
                        {% set menuItemsToShow = 5 %}
                        {% for item in menuItems|slice(0, menuItemsToShow) %}
                            <li class="nav-item{% if item.id in pathArray %} active{% endif %}">
                                <a class="nav-link" href="{{ path(item) }}">{{ ez_content_name(item.contentInfo) }}</a>
                            </li>
                        {% endfor %}
                        <li role="presentation" class="dropdown open">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="true">
                                more <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for item in menuItems|slice(menuItemsToShow, menuItemsLength) %}
                                    <li class="nav-item{% if item.id in pathArray %} active{% endif %}">
                                        <a class="nav-link" href="{{ path(item) }}">{{ ez_content_name(item.contentInfo) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        {% for item in menuItems %}
                            <li class="nav-item{% if item.id in pathArray %} active{% endif %}">
                                <a class="nav-link" href="{{ path(item) }}">{{ ez_content_name(item.contentInfo) }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
