{% extends "@ezdesign/pagelayout.html.twig" %}

{% set tag_keyword = netgen_tags_tag_keyword( tag ) %}

{% block page_head %}
    {% set title = tag_keyword %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="tags-content content-view-full">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                    <div class="attribute-header">
                        <h1>{{ 'Tags'|trans }} / <a href="{{ app.request.requestUri }}">{{ tag_keyword }}</a></h1>
                    </div>

                    {% if related_content|length > 0 %}
                        <section class="content-view-children search-result-item">
                            {% for related_content_item in related_content %}
                                {{ render(controller(
                                "ez_content:viewAction", {
                                    "locationId": related_content_item.mainLocationId,
                                    "viewType": "search_result_item",
                                    "layout": false
                                }
                                )) }}
                            {% endfor %}
                        </section>

                        {% if related_content.haveToPaginate() %}
                            <div class="pagination-centered">
                                {{ pagerfanta( related_content, 'twitter_bootstrap3_translated' ) }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
