<div class="row content-view-line content-type-blog-post align-items-top">
    <div class="col-md-3">
        {% if not ez_is_field_empty( content, 'image' ) %}
            {{ ez_render_field(content, 'image', {
                parameters: {
                    alias: 'original',
                    class: 'img-fluid'
                }
            }) }}
        {% endif %}
    </div>
    <div class="col-md-9">
        <h2 class="field-title"><a href="{{ path( location ) }}">{{ ez_render_field (content, 'title') }}</a></h2>
        <div class="field-intro">
            {{ ez_render_field (content, 'intro') }}
        </div>
        <div class="field-author">
            {% if not ez_is_field_empty(content, 'author') %}
                {{ ez_field_value(content, 'author') }}
            {% endif %}
            {% if not ez_is_field_empty(content, 'authors_position' ) %}
                - {{ ez_field_value(content, 'authors_position') }}
            {% endif %}
        </div>
    </div>
</div>
